%ul
  - @repos.each do |repo|
    %li
      = link_to "#{repo["name"]}, #{repo["language"]}", user_gardens_path(current_user, garden: {name: repo['name'], language: repo['language'] }), method: :post, class: repo['language']