
.row.forest
  = render 'gardens/grid', user: user

.nav{class: "cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left", id: "cbp-spmenu-s1"}
  =label_tag "SSH", "SSH", class: "control-label"
  =text_field_tag "", "", class: "form-control", placeholder: 'git@github.com:jgkingston/rails_mongodb.git'
  =label_tag "HHTPS", "HTTPS", class: "control-label"
  =text_field_tag "HTTPS", "", class: "form-control", placeholder: 'https://github.com/jgkingston/rails_mongodb.git'
  %br
  =submit_tag "Require Tree"

  %a#showLeft
    %i.glyphicon.glyphicon-chevron-right

