.row
  - user.gardens.each do |garden|
    .col-lg-3
      = render 'gardens/show', garden: garden, user: user

= link_to "Gather Seeds", "javascript:void(0)", class: "gather-seeds btn btn-default"

%div.repolist{ajax_path: git_api_repos_user_path(user)}
  = render 'users/repolist', user: user


 