All the Users!

%ul
  - @users.each do |user|
    %li
      = link_to "#{user.email}", user_path(user)

= link_to "Find", "javascript:void(0)", class: "find-toy-btn"
= text_field_tag '', '', class: "sku-number #sku", lat: 32.888727,lng: -79.996332


%div#map-canvas
