- if user_signed_in?

  =render 'users/show', user: current_user

- else
  #large.jumbotron.input
    %h1 Require Tree
    %p What if I told you that you were looking at a GitHub repository? Click below to see yours.
    %p= link_to "Sign Up »", new_user_registration_path, class: "btn btn-primary btn-lg"
    %div#chart 
      %svg

      %div.attribute-holder{age: 10, length: 130, gnarling: 1}

      %button{class: "regenerate"}Regenerate

