%div.chart.attribute-holder{age: garden.age, length: garden.get_length, gnarling: garden.comment_quality, id: garden.name, initialise: "true", class: garden.name}
  %svg
    %svg{viewBox: "0 0 840 600", preserveAspectRatio: "none"}
      %g{class: "#{garden.name}"}


%button{class: "regenerate", tree: garden.name}Regenerate

%script{:src => "/assets/main.js?body=1"}