// Grid and Portrait Views
.forest {
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


// Grid View
a.load-portrait {
  text-decoration: none;
  color: #555;
}

.grid-cell {
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


// Portrait View

.left-nav {
    overflow-y:scroll;
    height: 100%;
    // background-color: #eedd82;
    // opacity: 0.5;
}

ul.side-gardens {
  list-style: none;
  padding-left: 0;

}


@media (max-width: 992px) {
  .left-nav {
    overflow-y: auto;
    overflow-x: scroll;
    max-height: 100vw;
  }

  .left-nav ul.side-gardens {
    white-space:nowrap;
  }

  .left-nav ul.side-gardens li {
    display: inline-block;
  }

}

.right-info {
  overflow-y:scroll;
  max-height: 100%;
  padding-top: 23px;
}

.delete-icon {
  position: absolute;
  bottom: 0em;
  right: 10em;
  width: 4em;
  opacity: 0.2;
}

.delete-icon:hover {
  opacity: 0.5;
}



