/* SVG styling */

svg {
  font-family: helvetica, sans-serif;
}

line {
  stroke: #777;

}

.chart svg {
  overflow: visible;
  width: 100%;
}

line {
  fill: none;
  vector-effect: non-scaling-stroke;
}

.area {
  vector-effect: non-scaling-stroke;
}