
// General styles
.navbar {
  margin-bottom: 0;
}

.container-fluid {

  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: -1;
}

#webhook-link {
   display: none;
 }

.webhook-icon {
  // display: none;
  // width: 3em;
  // margin-left: 1em;
  // margin-top: 15px;
  // opacity: 0.2;
}

.webhook-icon:hover {
  // opacity: 0.5;
}

.navbar-nav > li > a.grid-link {
  padding: 0 0 0 0;
}

.row {
  height: 100%;
}

.welcome-tree {
  height: 50%;
}

.help-text {
  margin-top: 15%;
  -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#spinner {
    display: none;
    width:100px;
    height: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    text-align:center;
    margin-left: -50px;
    margin-top: 100px;
    z-index:2;
    overflow: auto;
} 